.App {
  text-align: center;
  height:100vh;
  display:flex;
  justify-content: center;
}
.one img{
  width:200px;
  height:200px;
  border-radius:10px;
  

}
.one{
  border:2px solid black;
  width:300px;
  margin:5px; 
  padding: auto;
  background-color: azure;
}